body{
    background-color: rgba(130, 147, 104, 0.651);
}
.judul{
    text-align: center;
    margin-top: 100px;
}
.text-judul{
    font-size: 45px;
    font-family: 'Merriweather';
}
.judul hr {
    width: 40%;
    height: 5px;
    background-color: rgb(0, 0, 0);
    margin-left: 30%;
}
.but-more button{
    background-color: transparent;
    color: bisque;
    background-color: #1D5A4A;
    width: 160px;
    height: 40px;
    border-color: rgb(255, 0, 149);
    border-radius: 6px;
}