.contact{
    display: flex;
    justify-content: center;
}
.contact img{
    width: 70%;
    border-radius: 20px;
    height: 300px;
}

.bebas{
    width: 30%;
    margin-top: 50px;
    margin-left: 35%;
}
