.about {
    position: relative;
}

.about-img h3{
    margin-left: 26%;
    position: absolute;
    top: 17%;
    color: white;
}
.about-img h5{
    text-align: center;
    position: absolute;
    margin-top: 10%;
    margin-left: 140px;
    color: white;
}

.about-text {
    width: 70%;
    height: 235px;
    background-color: rgba(12, 11, 11, 0.612);
    border: 1px solid black;
    padding: 10px;
    margin-left: 220px;
    margin-top: 20px;
}

.about-text h3 {
    z-index: 1;
    margin-top: -15px;
    color: white;
    font-size: 40px;
    font-family: 'Merriweather';
}

.judulText0 {
    text-align: center;
    margin-top: 100px;
}
.judulText0 h2{
    font-size: 40px;
    font-family: 'Merriweather';
}
.judulText0 hr{
    width: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.about-img hr {
    height: 5px;
    background-color: black;
}

.about-bootsrap {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}