.footer{
    background: #db7858;
    padding-bottom: 150px;
    margin-top: 90px;

}
.icon1 {
    position: absolute;
    margin-left: 45%;
    margin-top: 50px;
}
 .icon2 {
    position: absolute;
    margin-left: 50%;
    margin-top: 50px;
}

.icon3 {
    position: absolute;
    left: 55%;
    margin-top: 50px;
}

 .txt1 {
    color: white;
    position: absolute;
    left: 40%;
}
 .txt2 {
    color: white;
    position: absolute;
    margin-top: 120px;
    left: 45%;

}

/* .footer {
    background-color: #fff;
    text-align: center;
}
.footer1 {
    font-size: 30px;
}
.footer2{
    margin-left: 20px;
    font-size: 30px;
}
.footer3{
    margin-left: 20px;
    font-size: 30px;
}

.footer h1 {
    font-size: 15px;
} */