.footer {
    background-color: #fff;
    text-align: center;
}
.footer1 {
    font-size: 30px;
}
.footer2{
    margin-left: 20px;
    font-size: 30px;
}
.footer3{
    margin-left: 20px;
    font-size: 30px;
}

.footer h1 {
    font-size: 15px;
}