*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #4E1F1F;
}
.navbar{
    padding: 10px;
    background-color: #950101;
}
.navbarimg {
    margin-top: -6px;
   position: absolute;
}
ul{
    margin-left: 60%;
    display: flex;
    gap: 120px;
}
li {
    list-style: none;
}
a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}

