.datadiri{
    margin-top: 70px;
    width: 25rem;
    margin-left: 150px;
    margin-bottom: 100px;
}
.hotel{
    margin-left: 60%;
    margin-top: -600px;
}
.hotel231{
    width: 100%;
    height: 100px;
    filter: brightness(40%);
}

.awal h2{
    margin-top: 30px;
}