.footer {
    border: 1px solid wheat;
    background-color: #1D5A4A;
    opacity: 0.9;
    text-align: center;
    margin-top: 40px;
    color: whitesmoke;
}

.footer1 {
    font-size: 25px;
    margin-left: 25px;
}
.footer1 :hover {
    color: white;
}

.footer h1 {
    margin-left: 10px;
    font-size: 15px;
}
.footer .info {
    margin-top: 10px;
}

.cobab {
    color: red;
}