  .carousel-item .text {
    flex: 1;
    padding: 0 0;
    /* text-align: right; */
    position: absolute;
    top: 65%;
    left: 10%;
    color: white;
    font-size: 150%;
  /* transform: translate(-50%, -50%); */
    /* position: absolute; */
  } 

  .des1{
    font-weight: bolder;
    font-size: larger;
  }

  .des2{
    display: flex;
    flex-direction: row;
  }

  .des2 button{
    margin-left: 400px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: white;
  }