.deluxe {
    height: 100vh;
    position: relative;
}
.deluxe h2 {
    margin-top: 30px;
    margin-left: 50px;
}

.hotel231{
    width: 100%;
    height: 100px;
    filter: brightness(40%);
}

.deluxe-container{
    margin-top: 30px;
}

.deluxe-container img{
    width: 40%;
    margin-left: 100px;
    border-radius: 20px;
}

.deluxe1 {
    margin-left: 52%;
    margin-top: -25%;
}
.deluxe1 .trd{
    width: 10px;
}

.button-deluxe {
    background-color: greenyellow;
    margin-left: 70%;
    margin-top: 10px;
    border-radius: 4px;
    width: 100px;
    border: none;
}
.a-deluxe{
    color: black;
}