.standar {
    height: 100vh;
    position: relative;
}
.standar h2 {
    margin-top: 30px;
    margin-left: 50px;
}


.standar-container{
    margin-top: 30px;
}

.standar-container img{
    width: 40%;
    margin-left: 100px;
    border-radius: 20px;
}

.standar1 {
    margin-left: 52%;
    margin-top: -25%;
}
.standar1 .trd{
    width: 10px;
}

.standara {
    background-color: green;
    margin-left: 70%;
    margin-top: 10px;
    border-radius: 4px;
    width: 100px;
    border: none;
}
.standar-a{
    color: white;
}
.standar-a:hover{
    color: white;
}