.adminNavbar {
    display: flex;
    flex-direction: column;
    border: 1px solid orange;
    width: 300px;
    background-color: orange;
    height: 668px;
    font-family: 'Jua', sans-serif;
    border-radius: 2px;
}

.adminNavbar .ulNavbar {
    display: flex;
    flex-direction: column;
}

.imgAdmin {
    position: absolute;
    margin-left: 100px;
    margin-top: 10px;
}

.h2Admin{
    position: absolute;
    margin-left: 299px;
    border: 1px solid aqua;
    background-color: aqua;
    width: 78.9%;
    height: 8%;
}
.h2Admin {
    padding-top: 7px;
    padding-left: 20px;
}

.h1Admin {
    margin-top: 50%;
    margin-left: 50px;
}

.ulNavbar {
    margin-left: 60px;
    margin-top: 50px;
}

.ulNavbar li a {
    font-size: 25px;
}