.adminNavbar {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(166, 166, 166);
    width: 200px;
    background-color:  rgb(166, 166, 166);
    height: 755px;
    font-family: 'Jua', sans-serif;
    border-radius: 2px;
}

.adminNavbar .ulNavbar {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 25%;
    margin-left: 35px;
}

.imgAdmin {
    position: absolute;
    margin-left: 50px;
    margin-top: 10px;
}

