.adminNavbar {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(166, 166, 166);
    width: 200px;
    background-color:  rgb(166, 166, 166);
    height: 800px;
    height: 755px;
    font-family: 'Jua', sans-serif;
    border-radius: 2px;
}

.adminNavbar .ulNavbar {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 25%;
    margin-left: 35px;
}

.imgAdmin {
    position: absolute;
    margin-left: 50px;
    margin-top: 10px;
}

.h2Admin{
    position: absolute;
    margin-left: 199px;
    border: 1px solid rgb(60, 218, 230);
    background-color: rgb(60, 218, 230);
    width: 86.9%;
    height: 8%;
}
.h2Admin {
    padding-top: 9px;
    padding-left: 20px;
}

.h1Admin {
    margin-top: 70%;
    margin-left: 5px;
}

.ulNavbar {
    margin-left: 60px;
    margin-top: 50px;
}

.ulNavbar li a {
    font-size: 25px;
    margin-left:-50px;
}
.h3teks{
    margin-left: 250px;
    margin-top: -650px;
}
.pilihan{
    margin-left: 250px;
}
.pilih{
    width: 250px;
}