@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Jua&family=Poppins:wght@300&display=swap");


.container-adminLogin {
  background-color: rgba(88, 0, 0, 1);
  width: 400px;
  height: 33rem;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px;
  font-family: "poppins", sans-serif;
}

.container-adminLogin h1 {
  padding: 20px;
  color: white;
}

.head-adminLogin {
  background-color: rgba(212, 129, 102, 1);
  border-radius: 20px 20px 0 0;
}
form {
  width: 70%;
}
.label-login {
  color: white;
  margin: 10px;
  margin-right: 80%;
}
.alertLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}