* {
    margin: 0;
    padding: 0;
}

/* background-color: #D48166; */
.navbar {
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #1D5A4A;
    opacity: 0.9;
    color: #000;
    border-radius: 2px;
    z-index: 999;
    transition: top 0.3s ease-in-out;
    color: white;
}

.navbarimg {
    margin-left: 12px;
    background-color: white;
    border-radius: 50px;
    position: absolute;
}

.navbar h2 {
    position: absolute;
    margin-left: 56px;
    margin-top: 7px;
    font-size: 40px;
    font-family: 'Merriweather';
}

ul {
    margin-left: 73%;
    margin-top: 10px;
    display: flex;
    gap: 50px;
}

a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: black;
}