* {
    margin: 0;
    padding: 0;
}

/* background-color: #D48166; */
.navbar {
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    padding: 5px;
    border: 1px solid rgba(184, 184, 184, 0.5);
    background-color: rgba(184, 184, 184, 0.5);
    /* set opacity pada background */
    color: #000;
    /* warna teks pada navbar */
    z-index: 999;
    transition: top 0.3s ease-in-out;


}

.navbarimg {
    margin-left: 15px;
    position: absolute;
}

.navbar h2 {
    position: absolute;
    margin-left: 55px;
    font-size: 30px;
}

ul {
    margin-left: 65%;
    margin-top: 10px;
    display: flex;
    gap: 50px;
}

li {
    list-style: none;
}

a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: black;
}